body {
    background-color: #23242A;
    color: #E6EDF3;

    padding: 20px;
}

body.focus {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    text-align: center;
}

#focusTitle {
    font-size: 30pt;
    margin: 10pt;
}

#focusMessage {
    font-size: 15pt;
    margin: 10pt;
}

button {
    min-width: 250px;
    border-radius: 15px;
    padding: 10px;
    background-color: #464B5C;
    color: #D9DFFA;

    border: none;
    outline: none;

    cursor: pointer;
    margin-bottom: 10px;
    font-weight: bold;
}

button:hover {
    background-color: #585e73;
}

small-btn{
    background-color: #464B5C;
    min-width: 50px;
    border-radius: 10px;
    padding:5px;
    color: #D9DFFA;

    border: none;
    outline: none;

    cursor: pointer;
    margin-bottom: 10px; 
    font-weight: bold; 

}

input {
    border-radius: 15px;
    padding: 10px;
    border: none;
    outline: none;

    width: 100%;
}

#addUrlBtn {
    min-width: 0px;
    width: 45px;
    font-size: 12pt;
    margin-bottom:0px;
    margin-left: 5px;
}

#inputDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
